<section id="product">
    <div class="CartContainer">
        <div class="row">
            <div class="col-6">
                Your Cart
            </div>
            <div class="col-6 text-end text-danger">
                Remove All
            </div>
        </div>
        <div class="row pt-1" *ngFor="let cart of cartProducts">
            
            <div class="col-3">
                {{cart.Name}}
            </div>
            <div class="col-2">
                {{cart.quantity + 1}}
            </div>
            <div class="col-2 text-end">
                {{ cart.Price}}
            </div>
        </div>
    </div>

   
    <div class="row">
        <div class="col-12 text-end">
            <button class="btn btn-sm btn-success" (click)="redirectToSale()">Checkout</button>
        </div>
    </div>
 </section>