<nav class="dash">
    <div class="outer">
      <div class="dashboard">
        <h1><a routerLink="">Home</a></h1>
        <ul>
          <li><a routerLink="add-product">Add Product </a></li>
          <li><a routerLink="cart">Cart</a></li>
          <li><a routerLink="login">Login</a></li>
          
        </ul>
        <ul>
          <li><a routerLink="dashboard">Dashboard</a></li>
          <li><a routerLink="add-product">Add Product </a></li>
          <li><a routerLink="cart">Cart</a></li>
          
          
        </ul>
      </div>
      <router-outlet></router-outlet>
  
    </div>
  </nav>
  
  
  
  
  
  
  <!-- Name	Description	OriginalPrice	SellingPrice	Img
  iphone 12	Colour - Purple	65999	55799	https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/iphone-12-finish-select-202207-purple_FMT_WHH?wid=1280&hei=492&fmt=p-jpg&qlt=80&.v=1662150034211
  Iphone13	Color:white	89699	54999	https://rukminim2.flixcart.com/image/850/1000/ktketu80/mobile/r/m/8/iphone-13-pro-max-mllj3hn-a-apple-original-imag6vpgphrzuffg.jpeg?q=20
  Bacca Bucci	Shoes	2,499	1,199	https://m.media-amazon.com/images/I/61VQWxrKgjL._UY625_.jpg
  Oneplus 5	Color:Black	45999	17999	https://cdn.opstatics.com/store/20170907/assets/images/support/support-list/model-specs-list/details/5-black.png
  Maxima Nitro 	Colour: Onxy Black	7,999	1,995	https://m.media-amazon.com/images/I/61M1Wda6FCL._UX466_.jpg
   Nautica	Casual T-shirt	1299	480	https://www.nautica.com/dw/image/v2/BDCV_PRD/on/demandware.static/-/Sites-nautica-master-catalog/default/dwccc59e52/images/0731516000016_V41050_101_A.jpg
  iphone 13	Color: White	89699	65999	https://rukminim2.flixcart.com/image/850/1000/ktketu80/mobile/r/m/8/iphone-13-pro-max-mllj3hn-a-apple-original-imag6vpgphrzuffg.jpeg?q=20
  Nike 	Running Shoe	5,995	5,396	https://m.media-amazon.com/images/I/81l9ziHC3uL._UX625_.jpg
  HP Victus	Gaming Laptop	89699	55999	https://m.media-amazon.com/images/I/71CAVqzDC-L._SX679_.jpg -->